
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --tenne-tawny: #1479d6;
    --tenne-tawny-dark: #e669c0;
}
body{
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
}

.btn{
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    font-size: 1.05rem;
}
.text{
    opacity: 0.8;
}
.title{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.container{
    min-height: 100vh;
}
.meal-wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    background: #fff;
    text-align: center;
}
.meal-search{
    margin: 2rem 0;
}
.meal-search cite{
    font-size: 1rem;
}
.meal-search-box{
    margin: 1.2rem 0;
    display: flex;
    justify-content: center;
    align-items: stretch;
}
.search-control,
.search-btn{
    width: 50%;
}
.search-control{
    
    padding: 0 1rem;
    font-size: 1.1rem;
    font-family: inherit;
    outline: 0;
    border: 1px solid gray;
    color: black;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.search-control::placeholder{
    color: black;
}
.search-btn{
    width: 57px;
    height: 57px;
    font-size: 1.8rem;
    background:blue;
    color: #fff;
    border: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 0.4s linear;
   
}
.search-btn:hover{
    background: salmon;
}
.meal-result{
    margin-top: 4rem;
}
#meal{
    margin: 2.4rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    
}
.meal-item{
    border-radius: 1rem;
   
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(48, 47, 47, 0.79);
    margin: 2rem 0;
}
.meal-img img{
    width: 100%;
    display: block;
}
.meal-name{
    padding: 1.5rem 0.5rem;
}
.meal-name h3{
    font-size: 1.4rem;
}
.recipe-btn{
    text-decoration: none;
    color: #fff;
    background: sandybrown;
    font-weight: 500;
    font-size: 1.1rem;
    padding: 0.75rem 0;
    display: block;
    width: 100px;
    margin: 1rem auto;
    border-radius: 0.3rem;  
   
}


/* meal details */
.meal-details{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 600px;
    transform: translate(-50%, -50%);
    color: #fff;
    background: orangered;
    border-radius: 1rem;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    display: none;
    padding: 2rem 0;
}
.meal-details::-webkit-scrollbar{
    width: 10px;
}
.meal-details::-webkit-scrollbar-thumb{
    background:white;
    border-radius: 2rem;
}


/* js */
.showRecipe{
    display: block;
}

.meal-details-content{
    margin: 2rem;
}
.meal-details-content p:not(.recipe-category){
    padding: 1rem 0;
}
.recipe-close-btn{
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 2rem;
    background:cornflowerblue;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}
.recipe-title{
    letter-spacing: 1px;
    padding-bottom: 1rem;
}
.recipe-category{
    background:white;
    font-weight: 600;
    color: mediumorchid;
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
}
.recipe-category{
    background: #fff;
    font-weight: 600;
    color: seagreen;
    display: inline-block;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
}
.recipe-instruct{
    padding: 1rem 0;
}
.recipe-meal-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}
.recipe-link{
    margin: 1.4rem 0;
}
.recipe-link a{
    color:whitesmoke;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0.4s linear;
}
.recipe-link a:hover{
    opacity: 0.8;
}

.notFound{
    grid-template-columns: 1fr!important;
    color: red;
    font-size: 2rem;
    font-weight: 800;
    width: 100%;
}
